# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db

resources/android/icon/drawable-hdpi-icon.png
resources/android/icon/drawable-hdpi-icon.png
resources/android/icon/drawable-hdpi-icon.png
resources/android/icon/drawable-hdpi-icon.png
resources/android/icon/drawable-ldpi-icon.png
resources/android/splash/drawable-port-xxxhdpi-screen.png
resources/android/splash/drawable-port-xxxhdpi-screen.png
resources/android/splash/drawable-port-xxxhdpi-screen.png
resources/android/splash/drawable-land-xhdpi-screen.png
*.png