// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


@import "../pages/home/home";
@import "../pages/child/childInfo";
@import "../pages/child/add-task-modal";
@import "../pages/task/taskInfo";
@import "../pages/home/add-kid-modal";

scroll-content {
        // display: flex;
        //flex-direction: column;
        background: url('/images/green-background.png') no-repeat center center fixed;
        background-size: cover;
        font-family: 'Open Sans', sans-serif !important;
        color: black;
    }
    
    .child-item {
        background-color: #F08A3C !important;
        box-shadow: 0 0 2px 2px red;
        border-radius: 0 8px;
       // padding: 5px !important;
        padding-bottom: 0 !important;
        margin: 10px 2px 2px 1px;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 20px;
    }
    .item .item-inner {
        border-bottom: none!important;
    }

    ion-label {
   
    font-size: 1.6rem;
}