.home {
     scroll-content {
        display: flex;
        flex-direction: column;
    }

    ion-row {
        flex: 1;
       
    }

    ion-grid {
        padding: 0;
        height: 100%;
    }
}
