<ion-header>
  <ion-navbar>
    <ion-title>Kids Tokens</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="taskInfo">

  <h2>{{oTask.name}}</h2>
  <ion-grid>
    <ion-row *ngFor="let trio of tokenstriples" >
       <ion-col *ngFor="let item of trio">
        <ion-thumbnail >



        <img *ngIf="item + 1 > oTask.score" class="bwimage" src="{{oChild.tokenType}}" (click)="addToken()">

        <img *ngIf="item + 1 <= oTask.score" src="{{oChild.tokenType}}" (click)="removeToken()">

        </ion-thumbnail>




      </ion-col>


    </ion-row>

  </ion-grid>





</ion-content>