<ion-header>
  <ion-navbar>
    <ion-title>Kids Tokens</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="taskInfo">

  <h2>{{oTask.name}}</h2>
  <ion-grid>
    <ion-row class="row" wrap responsive-sm>
      <ion-col width-50 *ngFor="let number of tokenNumbers let i = index">



        <img *ngIf="i + 1 > oTask.score" class="bwimage" src="{{oChild.tokenType}}" (click)="addToken()">

        <img *ngIf="i + 1 <= oTask.score" src="{{oChild.tokenType}}" (click)="removeToken()">




      </ion-col>


    </ion-row>

  </ion-grid>





</ion-content>